input {
  border: 2px solid gray;
  border-radius: 15px;
  padding: 1%;
  margin-top: 15%;
  width: -webkit-fill-available;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
}
.mat-mdc-form-field {
  width: 50% !important;
  text-align: center;
}
