.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(187 179 179 / 50%);
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #fff;
  padding: 20px;
  height: 100%;
}

.close {
  font-size: xx-large;
}

#time {
  font-weight: bold;
}