<div class="modal">
  <div class="modal-content">
    <span class="close" (click)="hideModal()">&times;</span>
    <div class="container">
      <div class="dayInfo">
        <div>
          <span>
            <strong>{{ modalContent.time | dateFormat }}</strong>
          </span>
          <span id="time"><strong>{{ modalContent.time.split("T")[1].split(":00Z")[0] }}</strong></span>
        </div>
      </div>
      <div class="temperature">
        <span><strong>Temperature: </strong>
          {{
          modalContent.values.temperature
          | tempConversion :modalHourUnit :unit
          | roundNumber
          }}&deg; @if(unit === 'metric') {
          <span>C</span>
          } @else{
          <span>F</span>
          }
        </span>
        <hr />
        <span><strong>Feels like: </strong>
          {{modalContent.values.temperature | tempConversion :modalHourUnit :unit | roundNumber}}&deg;
          @if(unit === 'metric') {
          <span>C</span>
          } @else{
          <span>F</span>
          }
        </span>
        <hr />
      </div>
      <div class="additionalInformation">
        <span><strong>Cloud coverage: </strong>
          {{ modalContent.values.cloudCoverage | roundNumber }}%</span>
        <hr />
        <span><strong>Humidity: </strong>{{ modalContent.values.humidity | roundNumber }}%</span>
        <hr />
        <span><strong>Precipitation: </strong>{{ modalContent.values.precipitationProbability | roundNumber }} mm</span>
        <hr />
        <span><strong>Index UV: </strong>{{ modalContent.values.uvIndex }}</span>
        <hr />
      </div>
      <div class="windInformation">
        <span><strong>Visibility: </strong>{{ modalContent.values.visibility | roundNumber }} km</span>
        <hr />
        <span><strong>Wind direction: </strong>{{ modalContent.values.windDirection }}</span>
        <hr />
        <span><strong>Wind speed: </strong>{{ modalContent.values.windSpeed | roundNumber }} m/s</span>
        <hr />
        <span><strong>Maximal wind gust: </strong>{{ modalContent.values.maxWindGust | roundNumber }} m/s</span>
      </div>
    </div>
  </div>
</div>