@if (dayDetails) {
<div class="container">
  <section class="temperature">
    <p id="weatherIcon">
      <img [src]="weatherIcon" alt="weather icon" />
    </p>
    <div id="shadow"></div>
    <div>
      <span><strong>Min temp: </strong></span>
      <!-- <span>
        {{dayDetails.values.minTemperature | tempConversion: unit : converted |
        roundNumber}}&deg;
      </span> -->
      @if (unit === undefined || unit === 'metric' || unit === null || unit ===
      'Nan' || unit.length === 0) {
      <span>C</span>
      } @if (unit === 'imperial') {
      <span>F</span>
      }
      <br />
      <span><strong>Max temp: </strong></span>
      <!-- <span>
        {{dayDetails.values.maxTemperature | tempConversion: unit : converted |
        roundNumber }}&deg;
      </span> -->
      @if (unit === undefined || unit === 'metric' || unit === null || unit ===
      'Nan') {
      <span>C</span>
      } @if (unit === 'imperial') {
      <span>F</span>
      }
      <!-- <br />
      <span
        ><strong>Feels like:</strong> {{dayDetails.values.apparentTemperature |
        tempConversion: unit : converted | roundNumber}}&deg;</span
      >
      @if (unit === undefined || unit === 'metric' || unit === null || unit ===
      'Nan') {
      <span>C</span>
      } @if (unit === 'imperial') {
      <span>F</span>
      } -->
    </div>
  </section>
  <section class="mainContainer">
    <div class="title">
      <a id="hyperlink" [href]="externalLink" target="_blank">
        <strong>{{location}} </strong><span class="material-icons">open_in_new</span>
      </a>
      <strong>{{ dayDetails.time| dateFormat}}</strong>
    </div>
    <div class="infoContainer">
      <section class="mainInfo">
        <div>
          <div class="infoUnit">
            <span><strong> Sunrise:</strong></span><span class="infoData">{{dayDetails.values.sunrise}}</span>
          </div>
          <hr />
          <div class="infoUnit">
            <span><strong>Sunset:</strong></span><span class="infoData">{{dayDetails.values.sunset}} </span>
          </div>
          <hr />
          <div class="infoUnit">
            <span><strong>Moonrise:</strong> </span>
            <span class="infoData">{{dayDetails.values.moonRise}}</span>
          </div>
          <hr />
          <div class="infoUnit">
            <span><strong>Moonset:</strong></span>
            <span class="infoData">{{dayDetails.values.moonSet}}</span>
          </div>
          <hr />
          <div class="infoUnit">
            <span><strong>Visibility:</strong></span><span class="infoData">{{dayDetails.values.visibility |
              roundNumber}} km</span>
          </div>
          <hr />
          <div class="infoUnit">
            <span><strong>UV Index:</strong></span>
            <span class="infoData">{{dayDetails.values.averageUVIndex}}</span>
          </div>
        </div>
      </section>
      <section class="otherInfo">
        <div>
          <div class="infoUnit">
            <span><strong>Cloud coverage:</strong> </span>
            <span class="infoData">{{dayDetails.values.cloudCoverAverage | roundNumber}}%</span>
          </div>
          <hr />
          <div class="infoUnit">
            <span><strong>Precipitations probability:</strong></span>
            <span class="infoData">{{dayDetails.values.precipitationProbability |
              roundNumber}}%</span>
          </div>
          <hr />
          <div class="infoUnit">
            <span><strong>Average humidity:</strong> </span>
            <span class="infoData">{{dayDetails.values.averageHumidity | roundNumber}}%</span>
          </div>
          <hr />
          @if (dayDetails.values.windSpeed > 0) {
          <div class="infoUnit">
            <span><strong>Wind direction:</strong></span>
            <span class="infoData">{{windDirection}} </span>
          </div>
          }
          <hr />
          <div class="infoUnit">
            <span><strong>Wind Gust:</strong> </span>
            <span class="infoData">{{dayDetails.values.maxWindGust | roundNumber}} m/s</span>
          </div>
          <hr />
          <div class="infoUnit">
            <span><strong>Wind speed:</strong></span>
            <span class="infoData">
              {{dayDetails.values.windSpeed | roundNumber}} m/s</span>
          </div>
        </div>
      </section>
    </div>
  </section>
</div>
}