<div class="message">
  <span
    >We are sorry, but currently
    <a href="https://www.tomorrow.io/" target="_blank">tomorrow.io</a> gives us
    a coffee break!</span
  ><br />
  <span>It will be available once the time is up.</span>
  <strong><app-countdown-timer></app-countdown-timer></strong>
  <br />
  <span class="redirectMessage"
    >At the end of the timer you will be automatically redirected to the Home
    page.</span
  >
</div>
<a href="/"><img src="../../../assets/icons/weatherIcon/animatedIcon.png" /></a
><br />
