<div class="message">
  <span>We are sorry, but currently our API is in a coffee break!</span><br />
  <span>It will be available once the time is up.</span>
  <!-- <span
    >We are sorry, but currently <br />
    we encountered a technical problem!</span 
  >-->
  <app-countdown-timer></app-countdown-timer>
  <br />
  <span class="redirectMessage"
    >At the end of the timer you will be automatically redirected to the Home
    page.</span
  >
</div>
<a href="/"><img src="../../../assets/icons/weatherIcon/animatedIcon.png" /></a
><br />
