.container {
  display: flex;
  flex-direction: row;
}
.weatherInfo {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: nowrap;
}
.separator {
  border-left: 2px solid black;
  height: 90px;
}
