.container {
  display: flex;
  flex-direction: row;
}
.weatherInfo {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: nowrap;
}
.separator {
  border-left: 2px solid black;
  height: 100px;
  margin: 2% 3%;
}
.dayinfo {
  display: flex;
  flex-direction: column;
}
.weatherIcon {
  text-align: center;
}
#shadow {
  margin-left: 20%;
  margin-top: -15%;
  border-radius: 50%;
  width: 60%;
  height: 100px;
  background: gainsboro;
  /* opacity: 0; */
  -webkit-filter: blur(10px);
  -webkit-transform: scale(1, 0.2);
}
