@if(details){ @if (!smallScreenSize) {@for (item of details; track $index) {
<div class="container">
  <div class="dayInfo">
    <div>
      <a id="hyperlink" [href]="externalLink" target="_blank">
        <strong>{{location}} </strong
        ><span class="material-icons">open_in_new</span>
      </a>
      <p><strong>{{item.time | dateFormat}}</strong></p>

      <p id="time">{{item.time.split('T')[1].split(':00Z')[0]}}</p>
    </div>
    <div class="weatherIcon">
      <img [src]="iconPaths[$index]" alt="" />
      <div id="shadow"></div>
      <p>
        {{realTimeDescription[$index]}}
      </p>
    </div>
  </div>
  <div class="temperature">
    @if(unit === initialUnit){
    <span
      ><strong>Temperature: </strong>{{item.values.temperature |
      roundNumber}}&deg;
    </span>
    }@else {
    <span
      ><strong>Temperature: </strong>{{item.values.temperature | tempConversion:
      unit : converted | roundNumber }}&deg; F</span
    >
    }
    <hr />
    @if(converted === false){
    <span
      ><strong>Feels like: </strong>{{item.values.temperature |
      roundNumber}}&deg; C
    </span>
    }@else {
    <span
      ><strong>Feels like: </strong>{{item.values.temperature | tempConversion:
      unit : converted | roundNumber }}&deg; F</span
    >
    }
    <hr />
  </div>
  <div class="additionalInformation">
    <span
      ><strong>Cloud coverage: </strong> {{item.values.cloudCoverage |
      roundNumber}}%</span
    >
    <hr />
    <span
      ><strong>Humidity: </strong>{{item.values.humidity | roundNumber}}%</span
    >
    <hr />
    <span
      ><strong>Precipitation: </strong>{{item.values.precipitationProbability |
      roundNumber}} mm</span
    >
    <hr />
    <span><strong>Index UV: </strong>{{item.values.uvIndex}}</span>
    <hr />
  </div>
  <div class="windInformation">
    <span
      ><strong>Visibility: </strong>{{item.values.visibility | roundNumber}}
      km</span
    >
    <hr />
    <span><strong>Wind direction: </strong>{{item.values.windDirection}}</span>
    <hr />
    <span
      ><strong>Wind speed: </strong>{{item.values.windSpeed | roundNumber}}
      m/s</span
    >
    <hr />
    <span
      ><strong>Maximal wind gust: </strong>{{item.values.maxWindGust |
      roundNumber}} m/s</span
    >
    <hr />
  </div>
</div>
} } @else if (smallScreenSize) { @for (item of details; track $index) {
<div class="container">
  <button (click)="toggleModal()">ToggleModal</button>
  <app-modal-twenty-four-hours
    (closeModal)="onModalClose()"
  ></app-modal-twenty-four-hours>
</div>
} }}
<button
  (click)="scrollToTop()"
  class="btn btn-light scroll-top-btn"
  [class.show]="showButton"
>
  <i class="fa fa-angle-up" style="color: #5d6269;"></i>
</button>
