.spinner-container {
  margin-top: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.centered {
  text-align: center;
  font-size: x-large;
  font-weight: 400;
  color: gray;
}
