<nav>
  <section class="leftSection">
    <a href="/">
      <img
        id="logoIcon"
        src="../../../assets/icons/weatherIcon/favicon.ico"
        alt=""
      />
      <span>Happy weather</span>
      <!-- <img
        id="icontext"
        src="../../../assets/icons/weatherIcon/icon-text.png"
        alt=""
      /> -->
    </a>
  </section>
  <section class="search">
    <app-weather-search [units]="units"></app-weather-search>
  </section>
  <section class="rightSection">
    <span>C&deg;</span
    ><mat-slide-toggle (change)="unitChoice()"></mat-slide-toggle
    ><span>F&deg;</span>
  </section>
</nav>
<div class="timePeriod">
  <div><button mat-button>5 days</button></div>
  <div><button mat-button>7 days</button></div>
  <div><button mat-button>10 days</button></div>
</div>
