<nav>
  <section class="leftSection">
    <h1><a class="nav-icon" href="/">Happy Weather</a></h1>
  </section>
  <section class="search">
    <app-weather-search [units]="units"></app-weather-search>
  </section>
  <section class="rightSection">
    <span>C&deg;</span
    ><mat-slide-toggle (change)="unitChoice()"></mat-slide-toggle
    ><span>F&deg;</span>
  </section>
</nav>
<div class="timePeriod">
  <div><button mat-button>5 days</button></div>
  <div><button mat-button>7 days</button></div>
  <div><button mat-button>10 days</button></div>
</div>
