<nav>
  <section class="leftSection">
    <a href="/">
      <img
        id="logoIcon"
        src="../../../assets/icons/weatherIcon/favicon.ico"
        alt=""
      />
      <span>Happy weather</span>
    </a>
  </section>
  <section class="search">
    <app-weather-search [units]="units"></app-weather-search>
  </section>
  <section class="rightSection">
    <span>C&deg;</span
    ><label class="switch">
      <input type="checkbox" (change)="unitChoice()" />
      <span class="slider round"></span>
    </label>
    <span>F&deg;</span>
  </section>
</nav>
<div class="timePeriod">
  <div><button mat-button>5 days</button></div>
  <div><button mat-button>7 days</button></div>
  <div><button mat-button>10 days</button></div>
</div>
