.weather-container {
  display: block;
  border-radius: 15px;

  width: 180px;
  height: 200px;

  background: black;
  background: linear-gradient(180deg, rgb(0, 0, 0, 1) 0%, rgba(8, 7, 42, 1));
  color: white;
}
.row {
  display: block;
  margin: 0 auto;
  width: fit-content;
  font-size: 24px;
}
