.wi {
  color: white;
  font-size: 48px;
}
.wi-strong-wind {
  font-size: 25px;
}
.wi-wind {
  font-size: 25px;
  margin-left: 20px;
}
#time {
  vertical-align: 5px;
}
#wi-time {
  font-size: 35px;
  margin-right: 15px;
}
#feelsLike {
  font-size: x-large;
  margin-bottom: 5%;
}
.windInformation {
  margin: 5% 0%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.windIcon i {
  font-size: 50px;
  margin-top: 58px;
  margin-left: 45px;
}
#hyperlink {
  color: white;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .weather-container {
    display: flex;
    flex-direction: column;
  }
  .weather-container {
    width: auto;
    height: auto;

    color: white;
    opacity: 0.7;
    box-sizing: border-box;
    /* box-shadow: 0px 1.5px 10px 6px rgba(0, 0, 0, 0.72); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .weather-container section {
    margin: 5% 2%;
  }
  .location {
    font-size: 15px;
    display: flex;
    justify-content: space-between;
  }
  .location strong {
    font-weight: 500;
  }
  #locationName,
  #localTime {
    align-self: center;
  }
  .weatherState {
    margin-top: 10%;
  }
  .mainInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .mainInfo div {
    margin: 3% 2% 0% 2%;
  }
}
@media screen and (min-width: 1024px) {
  .weather-container {
    display: flex;

    border-radius: 15px;
    margin: 1% 1%;
    width: auto;
    height: auto;

    color: white;
    opacity: 0.7;
    box-sizing: border-box;
    box-shadow: 0px 1.5px 10px 6px rgba(0, 0, 0, 0.72);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .weatherDetails {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    margin: 0.7%;
    width: -webkit-fill-available;
    overflow: hidden;
  }
  .mainInfo {
    width: 35%;
    padding: 1%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .weatherDescription {
    margin-bottom: 1%;
    border-radius: 5px;
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .location {
    margin: 3% 1% 3% 5%;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
  }
  .location strong {
    font-weight: 500;
  }
  #locationName,
  #localTime {
    align-self: baseline;
  }
  #weatherStateTitle {
    font-size: large;
    font-weight: 500;
  }
  #localTime {
    margin-right: 6%;
  }
  .weatherState {
    position: absolute;
    bottom: 32%;
    margin-left: 3.5%;

    font-size: xxx-large;
    font-weight: 500;
    width: -webkit-fill-available;
  }
  .weatherForecast {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
  .localTime {
    margin-left: 5%;
  }
  #weatherIcon {
    padding-left: 33%;
  }
  .otherInfos {
    border-radius: 5px;
    height: 100px;
    box-sizing: border-box;
  }
  #temperature {
    font-size: 65px;
    margin: 10% 15% 5% 25%;
  }
  #dateFormat,
  #timeFormat {
    font-size: x-large;
  }
  .fiveDaysForecast {
    text-align: center;
  }
}
