.weather-container {
  display: flex;

  border-radius: 15px;
  margin: 2% 4%;
  width: auto;
  height: 65vh;

  background: black;
  background: linear-gradient(180deg, rgb(207 206 206) 0%, rgba(30 30 56));
  color: white;
  opacity: 0.7;
  box-sizing: border-box;
}
.weatherDetails {
  display: flex;
  flex-direction: column;

  margin: 0.7%;
  width: -webkit-fill-available;
}
.mainInfo {
  width: 30%;
  padding: 1%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.weatherDescription {
  margin-bottom: 1%;
  border-radius: 5px;
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.otherInfos {
  background-color: cadetblue;
  border-radius: 5px;
  height: 100px;
}
#temperature {
  font-size: xxx-large;
}
#dateFormat {
  font-size: x-large;
}
.wi {
  color: white;
  font-size: 48px;
}
