.video-container {
    position: relative;
    width: 100%;
    max-width: 100vw;
    height: 86.9vh;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(65, 64, 64, 0.247);
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

app-weather-search {
    position: absolute;
    top: 20%;
    width: 100%;
    height: 100%;
    z-index: 2;
}