@if (this.fivedaysForecast) {
<div class="daysContainer">
  @for (day of this.fivedaysForecast.timeLines.daily; track day) {
  <div>
    <div class="day">
      <section class="dayInfo">
        <div id="weatherIcon">
          {{day.values.weatherCode}}
          @if (weatherIcon) {
<img
           
            [ngStyle]="setIcon(day.values.weatherCode)"
            [src]="weatherIcon"
            alt="weather icon"
          />
}
          {{weatherIcon}}
        </div>
        <div>{{day.time | dateFormat}}</div>
        <span>{{unit}}</span>
      </section>
      <section class="mainInfo">
        <div id="temperature">
          <span
            >{{day.values.minTemperature | tempConversion: unit | number }}&deg;
          </span>
          @if (unit === undefined || unit === 'metric' || unit === null || unit === 'Nan') {
<span
           
            >C</span
          >
}
          @if (unit === 'imperial') {
<span>F</span>
}
          |
          <span
            >{{day.values.maxTemperature | tempConversion: unit | number }}&deg;
          </span>
          @if (unit === undefined || unit === 'metric' || unit === null || unit === 'Nan') {
<span
           
            >C</span
          >
}
          @if (unit === 'imperial') {
<span>F</span>
}
        </div>
      </section>
    </div>
  </div>
}
</div>
}
