.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mat-mdc-form-field {
  background-color: white;
  color: black;
  opacity: 0.8;
  border-radius: 15px;

  margin: 1% 0%;
  padding: 1%;
  width: 60%;
}
.searchButton {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  color: gray;
}
.mat-mdc-input-element {
  padding-top: 5px;
}
.mat-icon {
  display: block;
}
