.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

form {
  border: none;
  border-radius: 15px;
  background-color: white;
  color: black;
  opacity: 0.7;
  width: 100vh;

  box-shadow: inset 2px 2px 5px #a19696, inset 2px 2px 80px #f1eaea;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  margin: 1% 0%;
  padding: 1%;
  flex-grow: 0.5;
}

.searchButton,
.clearButton {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  color: gray;
  position: static;

}

.inputContainer,
.clearSection {
  display: flex;
  flex-direction: row;
  margin-top: 2px;
}

input {
  width: 85%;
  border: none;
  background-color: transparent;
  outline: none;
}

.verticalLine {
  width: 2px;
  height: 25px;
  background-color: gainsboro;
}

.mat-icon {
  display: block;
}

#windSpeed {
  display: flex;
}

.inputSection {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

@media screen and (min-width: 320px) and (max-width:478px) {
  form {
    border: none;
    border-radius: 15px;
    background-color: white;
    color: black;
    opacity: 0.7;
    width: 47vh;

    box-shadow: inset 2px 2px 5px #a19696, inset 2px 2px 80px #f1eaea;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    margin: 1% 0%;
    padding: 1%;
    flex-grow: 0.5;
  }
}