<div class="container">
  <section class="inputContainer">
    <form [formGroup]="locationForm">
      <section class="inputSection">
        <input type="text" #inputField (keyup.enter)="currentCityOnEnter($event)" (input)="onInputChange($event)"
          placeholder="Search city" />
        @if (showClearButton == true) {
        <button class="clearButton" (click)="clearCityOnClick()">
          <i class="fa-solid fa-x"></i>
        </button>
        <div class="verticalLine"></div>
        }
        <button class="searchButton" (click)="currentCityOnClick()">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </section>
    </form>
  </section>
</div>