.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2%;
  margin-left: -4%;
  width: 100%;
}
.formField {
  border: none;
  border-radius: 15px;
  color: black;
  opacity: 0.8;
  width: 60%;
  box-shadow: inset 2px 2px 5px #a19696, inset 2px 2px 80px #f1eaea;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  margin: 1% 0%;
  padding: 1%;
  flex-grow: 0.5;
}
.searchButton,
.clearButton {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  color: gray;
}
.inputContainer,
.clearSection {
  display: flex;
  flex-direction: row;
  margin-top: 2px;
}
.verticalLine {
  width: 1px;
  height: 20px;
  background-color: gainsboro;
}
.mat-icon {
  display: block;
}
#windSpeed {
  display: flex;
}
